<div class="navbar navcustom navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="nav navbar-nav navbar-right">
            <ul class="nav">
                <li><a class="nav-item other p-3" href="/">Home</a></li>
                <li><a class="nav-item other p-3" href="{{url_for('main.new_pitch')}}">Pitch</a></li>

                {% if current_user.is_authenticated %}
                <li><a class="nav-item other p-3" href="{{ url_for('main.profile', uname = current_user.username) }}">{{ current_user.username| capitalize }}</a></li>
                <li><a class="nav-item other" href="{{url_for('auth.logout')}}">Log Out</a></li>
                {% else %}
                <li><a class="nav-item other" href="{{url_for('auth.login')}}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<hr>